*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INDEX */

body{   
    background: linear-gradient(#DCE8F2,#f593a5, #F2CA80);
    font-family: Arial, Helvetica, sans-serif;
}  

.Nombrepagina {
    display: flex;
    padding-top: 25px;
    padding-right: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.logo{
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

header div img{
    width: 100px;
    height: 100px;
}

header nav{
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, #529AD9, #b0daff);
    color: #0D0D0D;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    border-radius: 15px;
    border: 6px inset #529AD9;
}

.navlink{
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #0D0D0D;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 40px;
}

#carouselAutoplaying{
    padding-top: 30px;
}

.carousel-control-prev-icon{
    background-color: rgb(76, 140, 224);
}

.carousel-control-next-icon{
    background-color: rgb(76, 140, 224);
}

/* .principal{
    margin: 0;
    padding: 20px 0 0;
    background: #51D94C;
} */

.container-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 50px;
    padding: 50px 0 10px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap; 
    background: #529AD9;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    padding: 10px 0;
}

/* .plogo{
    display: flex;
    width: 30%;
    margin: 0;
    padding: 10px 0;
} */

.imglogo{
    /* display: flex; */
    width:250px;
    height:250px;
    margin: auto;
    background-color: aqua;
}

.pexpinf{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0;
    padding: 15px ;
    background: #F2637E;
    
}

.pexp{
    margin: auto;
    padding: 10px 0;
}

.explicacion1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    margin: auto;
    padding: 20px 0;
}

.explicacion2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: auto;
}

.pinf{
    display: flex;
    width: 150px;
    justify-content: center;
    background-color: #F2637E;
    border: 2px solid;
    border-color: #0D0D0D;
    border-radius: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: auto;
    padding: 15px;
}

.masinfo{
    text-decoration: none; 
    color: #0D0D0D;
}

.pextra{
    display: flex;
    margin: auto;
    padding: 0 75px;
}

.contenedor{
    margin: auto;
    padding: 0 50px;
    background: #9ba237;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 50px;
    padding: 50px 0 10px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap; 
    
}

.titulo{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    margin: auto;
    padding-top: 50px;
}

.caso{
    width: 100%;   
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding: 50px;    
    background-color: blueviolet;
}

.comentarioca1{
    display: flex;
    width: 80%;
    text-align: center;
    border: 3px solid;
    border-color: #F2637E;
    border-radius: 20px;
    background-color: #fdccd5;
    box-shadow:0 0 25px #F2637E;
    transform: translateY(10vh);
    transition: transform 2s;
    visibility: hidden;
    position: relative;
}

.comentarioca1.visible{
    transform: translateY(0);
    visibility: visible;
}

.comentarioca2{
    display: flex;
    width: 80%;
    text-align: center;
    border: 3px solid;
    border-color: #F2637E;
    border-radius: 20px;
    background-color: #fdccd5;
    box-shadow:0 0 25px #F2637E;
    transform: translateY(10vh);
    transition: transform 2s;
    visibility: hidden;
    position: relative;
}

.comentarioca2.visible{
    transform: translateY(0);
    visibility: visible;
}

.comentarioco1{
    display: flex;
    width: 80%;
    text-align: center;
    border: 3px solid;
    border-color: #529AD9;
    border-radius: 20px;
    background-color: #b0daff;
    box-shadow:0 0 25px #529AD9;
    transform: translateY(10vh);
    transition: transform 2s;
    visibility: hidden;
    position: relative;
    
}

.comentarioco1.visible{
    transform: translateY(0);
    visibility: visible;
}

.comentarioco2{
    display: flex;
    width: 80%;
    text-align: center;
    border: 3px solid;
    border-color: #529AD9;
    border-radius: 20px;
    background-color: #b0daff;
    box-shadow:0 0 25px #529AD9;
    transform: translateY(10vh);
    transition: transform 2s;
    visibility: hidden;
    position: relative;
}

.comentarioco2.visible{
    transform: translateY(0);
    visibility: visible;
}

.texto{
    display: flex;
    margin: auto;
    padding: 20px 5px;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}

.datos{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #b0daff;
}
.datos-chicos{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #51D94C;
    align-items: center;
    margin-left: -30px;
}

.pichica{
    width: 120px;
    height: 120px;
    border: 3px solid;
    border-color: #F2637E;
    border-radius: 50px;
    margin: auto;
}

.pichico{
    width: 120px;
    height: 120px;
    border: 3px solid;
    border-color: #529AD9;
    border-radius: 50px;
    margin: auto;
    
        
}

/* .nombre_Juan{
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-left: -30px;
} */

.foto{
    display: flex;
    width: 100px;
    height: 110px;
    margin: auto;
}

.nombres{
    font-weight: bolder;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

.nombrecompleto{
    display: flex;
    margin: auto;
    font-size: 20px;

}

/* FIN INDEX */

img.imgcat{
    height: 200px;
}

div.categ{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin: 10px; 
    border: 3px solid #ccc;
    border-color: rgb(1, 13, 23);
    border-radius: 15px;
  }
  
  img.ct{ /*añadí propiedades a la clase ct de img*/
    height: 200px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 3px;
  }

  a.tcat{
    background-color: rgb(5, 186, 194);
    color: rgb(1, 13, 23);
    padding: 10px;
    border: 2px solid #ccc;
    border-color: rgb(1, 13, 23);
    text-decoration: none;
  }
  
  p.desc{
    border: 2px solid #ccc;
    border-radius: 5px;
    border-color: rgb(1, 13, 23);
    padding: 5px;
  }

/*PERFILES*/ 
div.pizq p{
    border: 1px solid #ccc;
    border-radius: 8px;
    border-color: black;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}

div.pder p{
    width: 400px;
    border: 2px solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*display: inline-block;*/
    justify-content: center;
    text-align: center;
}

div.pder h2{
    background-color: rgb(160, 186, 255);
    border: 2px solid;
    text-align: center;
}

div.pizq, div.pder{
    padding: 10px;
}

main.perfiles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

img.fpf{ /*este es para que la img quede centrada dentro de su caja*/
    display: flex;
    margin: 0 auto;
    padding-bottom: 6px;
}

div.conectate{
    display: flex;
    border: 2px solid;
}

div.conectate p{
    border: none;
    text-decoration: none; /*le puse none pero igual sigue apareciendo un subrayado no se pq*/
    color: black;
    height: 20px;
}

/*main iconos y footer*/
main{
    padding-bottom: 80px;
  }

.icono{
    padding-right: 10px;
    width: 30;
}

 

.intro{
    display: flex;
    flex-direction: row;  
    justify-content:center;
    width: 100%;
}
  
.words{
    color:white;
    font-size: 0;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.words span{
    font-size: 5rem;
    display: inline-block;
    animation: move 4s ease-in-out infinite;
}

/* QUIENES SOMOS */
 .explicacion{
    margin: auto;
    padding: 40px 0;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
 }

/* FIN DE QUIENES SOMOS */

/* CONTACTO */

.text-container {
    width: 90%;
    margin:0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
  }
  
  .texto-formulario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    flex-grow: 1;
    max-width: 600px;    
    text-align: justify;
    line-height: 2;
    padding: 50px 55px;
    background-color: white;
    box-shadow:0 0 20px rgba( 0,0,0,0.2);
    border-radius: 20px;
    width: 370px;

  }

.tg{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
}
.contenedor-mapa{
    display: flex;    
    flex-direction: column;
}
.mapa{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;   
    margin-top: 20px;   
    box-shadow:0 0 20px rgba( 0,0,0,0.2);
    border-radius: 20px;
}  
section iframe{
    width:300px;
    height:200px;
    padding: 20px 20px;
    margin-left: px;
}

form{
    padding: 50px 55px;
    padding: 50px 55px;
    background-color: white;
    box-shadow:0 0 20px rgba( 0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    width: 370px;
    font-family: 'Times New Roman', Times, serif;
}
form p{
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin: 0;   
}
.grupo-input{
    display: flex;
    flex-direction: column;
    text-align: center;
}

 form h2{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
 }

label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea{
    padding: 17px 25px;
    border-radius:25px ;
    margin-bottom: 20px;
    background-color: #f3deb8;
    border: 2px solid #F0FAF1;
    color: #101a11;
    outline: none;
}
 input::placeholder, textarea::placeholder{
    color: #74bb77;
 }
.btn-form{
    font-size: 16px;
    color: #FFFF;
    border: 0;
    border-radius: 25px;
    background-color: #51D94C;
    text-align: center;
    cursor: pointer;
}
.btn-form:hover {
    background-color: #8dbc8b;
}

/* FIN CONTACTO */


footer{
    /*background-color: rgb(51, 165, 255);*/
    background: linear-gradient(to right, #529AD9, #b0daff);
    color: rgb(1, 13, 23);
    width: 100%;
    text-align: center;
    position: static;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border: 0;
}

footer img{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 40px;
}

@keyframes move {
    0% {
      transform: translate(-30%,0);
    }
    50% {
      text-shadow: 0 25px 50px black;
    }
    100% {
      transform: translate(30%, 0);
    }
  }